@import '../../shared/styles/colors.scss';
@import '../../shared/styles/fonts.scss';
@import '../../shared/styles/breakpoints.scss';
@import '../../shared/styles/styles';
@import '../../shared/styles/effects.scss';

@mixin href-active($is-active:true){
    padding: .5em 1em;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-right: 32px;

    @if $is-active{
        @include text-with-svg($font-MontserratMedium,1em,$default-color,32px,105px);
    }
    @else{
        @include text-with-svg($font-MontserratMedium,1em,$inactive-button-font-color,32px,105px);
    }

    &:hover{
        color: $hover-color;
    }
    &:active{
        color: $press-color;
    }
}

.header{
    display:flex;
    width:100%;
    height:64px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
    position: fixed;
    @include shadow-medium;
    .ul{
        display:flex;
        flex-direction: row; 
        align-items: center;
        .aActive{
            @include href-active($is-active:true)
        } 
        .aInactive{
            @include href-active($is-active:false)            
        }    
        
    }
}