@import '../../shared/styles/styles';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoints.scss';
@import '../../shared/styles/fonts.scss';

.searchBar{
    @include default-style;
    @include underline;
    position: absolute;
    flex-direction: row;
    align-items: center;
    width:100%;
    top: 0px;
    .input{
        @include input(14.8px);
        width: 846.8px;
        margin:25px;
        margin-right: 0px;
        @include tablet{
            width: 504.8px;
        } 
        @include mobile{
            width: 208.8px;
        } 
    }
}