@import '../../shared/styles/styles';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/effects.scss';
@import '../../shared/styles/fonts.scss';
@import '../../shared/styles/breakpoints.scss';

.profile{
    @include box-div-white($width:308px,$height:262px);
    border: 15px;
    position: relative;
    top: -10%;
    margin:15px;
    @include mobile{
        top: -4.6%;
        margin-bottom: -2px;
        height:250px
    }
    .profileButton{
        position: absolute;
        right:5%;
        top:5%;
        &:hover{
            g{
                stroke:$hover-color;
                cursor: pointer;
            }
            cursor: pointer;
        }
        &:active{
            g{
                stroke:$press-color;

            }
            cursor: pointer;
        }        
    }
    p{
        @include text-center-p($font-MontserratRegular,0.875emem, $field-font-color);
        width:100%;        
        margin:5px        
    }
    br {
        display: block;
        margin: 100px 0;
     }
    .profileText{
        @include text-center($font-MontserratMedium,0.875em,$inactive-button-font-color,17px,70px);
        letter-spacing: 0.7px;
        position:absolute;
        margin:15px;
        top: 12px;    }
    .boldName{
        @include text-center($font-MontserratSemiBold,1.5em, black,29px,100%);
        letter-spacing: 0px;
        position:absolute;
        margin:15px;
        top: 66px;  }
    .regularText{
        @include text-center-p($font-MontserratRegular,0.875emem, black);
        letter-spacing: 0px;
    }
    .linkText{
        @include text-center-p($font-MontserratRegular,0.875emem, $default-color);
        letter-spacing: 0px;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
            color: $hover-color;
            cursor: pointer;
        }
        &:active{
            text-decoration: none;
            color: $press-color;
            cursor: pointer;
        }
    }
}
