@import '../../shared/styles/styles';
@import '../../shared/styles/effects.scss';
@import '../../shared/styles/breakpoints.scss';

.profileInfo{
    @include box-div-white($width:688px,$height:262px);
    border: 15px;
    position: relative;
    top: -10%;
    margin:15px;
    @include tablet{
        width:400px
    }
    @include mobile{
        top: -4.6%;
        margin-bottom: -2px;
        height:250px;
        width:308px
    }
    .menu{
        display:flex;
        flex-direction: row; 
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
        width:94%;
        @include tablet{
            width:92%;
        }
        position: absolute;
        top:3%;
    }
}
