@import '../../shared/styles/styles';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/effects.scss';
@import '../../shared/styles/breakpoints.scss';

.box{
    @include box-page($width:1110px,$height:585px);
    flex-direction: column;
    position:fixed;
    @include mobile{
        height: 585px;
    }
    .insideBox{
        @include default-style;
        flex-direction: row;   
        @include mobile{
            flex-direction: column;
        }   
        margin-bottom: 0px 
    }
    .weather{
        @include box-div-weather(1062px,439px);
        margin:25px;
        position: absolute;
        bottom: 0px;
        @include tablet{
           width: 728px;
        } 
        @include mobile{
            width: 320px;
         } 
        background-color: brown;
    }
}