@import './breakpoints.scss';

* {
  -webkit-tap-highlight-color: transparent;
}

@mixin default-style{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin default-style-size{
  @include default-style;
  width: 100%;
  height: 100vh;
}

/* mixin для выравнивания хедера */


@mixin page-style{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -8px;
}

/* mixin для выравнивания текста для */

@mixin text-center($font-family,$font-size,$color,$height,$width){
    @include default-style;
    font-family: $font-family;
    font-size: $font-size;
    text-align: center;
    border: none;
    color: $color;
    height: $height;
    width: $width;
    letter-spacing: 0.5px;
}

/* mixin для выравнивания текста для */

@mixin text-center-p($font-family,$font-size,$color,$text-align:center){
  @include default-style;
  font-family: $font-family;
  font-size: $font-size;
  text-align: $text-align;
  border: none;
  color: $color;
  letter-spacing: 0.5px;
}

/*mixin - коробка*/

@mixin box-div($width, $height: $width) {
  @include default-style;
  width: $width;
  height: $height;
  flex-direction: column;
}

@mixin box-div-modal($width, $height: $width){
  @include box-div($width:$width,$height:$height);
  background-color: white;
  border-radius: 20px;
}

@mixin box-div-white($width, $height: $width){
  @include box-div($width:$width,$height:$height);
  background-color: white;
  border-radius: 20px;
  @include shadow-small;
}

@mixin box-div-weather($width, $height: $width){
  @include box-div($width:$width,$height:$height);
  border-radius: 20px;
  flex-direction: column;
}

/*mixin - главная коробка на странице*/

@mixin box-page($width, $height: $width){  
    @include box-div($width:$width,$height:$height);
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    position:absolute;
    top : 84px;
    @include shadow-medium;
    @include tablet{
        width:100%;
        border-radius: 0px;
    }
    @include mobile{
        border-radius: 0px;
        width:100%;
    }
}

/*mixin - подчеркивание*/

@mixin underline{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

/*mixin - input for div*/

@mixin input($padding:12.8px){
  width: 274.8px;
  font-size: 0.875em;
  font-family: $font-MontserratRegular;
  background-color: $layout-color;
  padding: $padding;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: $search-bar-color;
  color:$font-color;
  margin:5px;margin-left:0px;
  outline-width: 0;
}
