$button-font-color: #ffffff;
$inactive-button-font-color: #ADAFB6;
$field-font-color: #F69D5B;

$layout-color:#F7F6F9;

$search-bar-color:#DFDFDF;

$default-color: #4651D2;
$hover-color: #747DEB;
$press-color: #333EBE;
$bg-modal-color:rgba(9, 14, 70,0.5);
$font-color:#090E46;