@import '../../shared/styles/styles';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoints.scss';
@import '../../shared/styles/fonts.scss';

.weather{
    @include box-div-weather(1062px,439px);
    margin:25px;
    position: absolute;
    bottom: 0px;
    @include tablet{
       width: 728px;
    } 
    @include mobile{
        width: 320px;
     } 
    background-color: brown;
    .date{
        @include medium();
        position: absolute;
        margin:0px;
        margin-top:10px;
        top: 70px;
    }
    .curTemp{
        @include medium();
        margin:0px;
        margin-top:10px;
    }
    .feels{
        @include regular();
        .mediumSmall{
            @include text-center-p($font-MontserratMedium,0.875em,white);
        }
        margin:0px;
        margin-top:15px;

    }
    .place{
        @include semiBold();
        position: absolute;
        margin:0px;
        margin-top:43px;
        top: 0px;
    }
    .tempr{
        @include regularBig();
        margin:0px;
        margin-top:20px;
    }
}
.icon{
    position:relative;
    margin-top:60px;
}