@import '../../shared/styles/colors.scss';
@import '../../shared/styles/fonts.scss';
@import '../../shared/styles/styles';

@mixin href-active($is-active:true){
    padding: .5em 1em;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-right: 16px;

    @if $is-active{
        @include text-with-svg($font-MontserratMedium,1em,$default-color,32px,105px);
    }
    @else{
        @include text-with-svg($font-MontserratMedium,1em,$inactive-button-font-color,32px,105px);
    }

    &:hover{
        color: $hover-color;
    }
    &:active{
        color: $press-color;
    }
}

.aActive{
    @include href-active($is-active:true)
} 
.aInactive{
    @include href-active($is-active:false)            
}  