@import '../../shared/styles/colors.scss';
@import '../../shared/styles/fonts.scss';
@import '../../shared/styles/styles';

@mixin href-active($is-active:true){
    padding: .5em 1em;
    text-decoration: none;
    letter-spacing: 0.5px;
    margin-right: 16px;

    @if $is-active{
        .headerIcon{
            g{
                stroke:$default-color
            }
        }
        @include text-center($font-MontserratMedium,1em,$default-color,32px,105px);
    }
    @else{
        .headerIcon{
            g{
                stroke:$inactive-button-font-color
            }
        }
        @include text-center($font-MontserratMedium,1em,$inactive-button-font-color,32px,105px);
    }
    @media (hover: hover) {
        &:hover{
            .headerIcon{
                g{
                    stroke:$hover-color
                }
            }
            color: $hover-color;
        }
    }
    &:active{
        .headerIcon{
            g{
                stroke:$press-color
            }
        }
        color: $press-color;
    }
}

.aActive{
    @include href-active($is-active:true)
} 
.aInactive{
    @include href-active($is-active:false)            
}  