@import '../../shared/styles/styles';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoints.scss';
@import '../../shared/styles/fonts.scss';

.modal{
    @include box-div(350px,644px);
    .modalInfo{
        @include box-div-modal(350px,603px);
        position: relative;
        .editProfile{
            @include default-style;
            @include semiBold($font-color);
            position: absolute;
            margin:20px;
            top:0px
        }
        .saveButton{
            @include default-style;
            position: absolute;
            margin:20px;
            bottom:0px
        }
        input[type="date"]{
            @media (hover: hover) {
                &:hover{
                    
                    cursor:text;
                }
            }
        }::-webkit-calendar-picker-indicator {
            scale:2;
            right: 10px;
            background-image: url('../../shared/assets/icons/dateEdit.svg');
        }
        input{
            @include input();
            
        }
        .text{
            @include text-center-p($font-MontserratRegular,0.875emem, $field-font-color);
            align-items: self-start;
            width:300px;        
            padding-left:24px;   
            padding-right:24px;
            margin: 0px;   
            flex-direction: column;
            position: relative;
            top:-10px;
        }
    }
    
    .exitIcon{
        @include default-style;
        position: relative;
        margin:10px;
        margin-left: 90%;
        @media (hover: hover) {
                &:hover{
                cursor: pointer;
            }
        }
        &:active{
            path{
                stroke:$inactive-button-font-color;
            }
            cursor: pointer;
        } 
    }
    
}