@import '../../shared/styles/styles';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/breakpoints.scss';
@import '../../shared/styles/fonts.scss';

.modal{
    @include box-div(350px,644px);
    .modalInfo{
        @include box-div-modal(350px,603px);
        position: relative;
        .editProfile{
            @include default-style;
            @include semiBold($font-color);
            position: absolute;
            margin:20px;
            top:0px
        }
        .saveButton{
            @include default-style;
            position: absolute;
            margin:20px;
            bottom:0px
        }
        .inputDiv{       
            border-width: 1px;     
            height: 42.4px;
            width: 300.4px;
            align-items: center;
            background-color: $layout-color;
            border-radius: 5px;
            border-width: 1px;
            border-style: solid; 
            display: flex;
            justify-content: center;
            border-color: $search-bar-color;
            margin:5px;margin-left:0px;
            .input{
                @include input();
            }
        }
        .text{
            @include text-center-p($font-MontserratRegular,0.875emem, $field-font-color);
            align-items: self-start;
            width:300px;        
            padding-left:24px;   
            padding-right:24px;
            margin: 0px;   
            flex-direction: column;
            position: relative;
            top:-10px;
        }
    }
    .dateButton{
        @include default-style;
        position: relative;
        margin:10px;
        scale: 1.5;
        width:24px;
        g{
            stroke: $default-color;
        }
        &:hover{
            path{
                stroke:$hover-color;
            }
            cursor: pointer;
        }
        &:active{
            path{
                stroke:$press-color;
            }
            cursor: pointer;
        } 
    }
    .exitIcon{
        @include default-style;
        position: relative;
        margin:10px;
        margin-left: 90%;
        &:hover{
            cursor: pointer;
        }
        &:active{
            path{
                stroke:$inactive-button-font-color;
            }
            cursor: pointer;
        } 
    }
    
}